---
const { url, title, icons = [] } = Astro.props

function getYouTubeVideoId(url: string) {
	try {
		const parsed = new URL(url)
		if (parsed.hostname === "youtu.be") {
			return parsed.pathname.slice(1)
		} else if (parsed.hostname.includes("youtube.com")) {
			return parsed.searchParams.get("v")
		}
	} catch (error) {
		return null
	}
}

const videoId = getYouTubeVideoId(url)
const cover = `https://img.youtube.com/vi/${videoId}/hqdefault.jpg`
---

<a href={url}>
	<img
		src={cover}
		alt={title}
		class="aspect-video w-full object-cover object-center"
	/>
	<div class="-mt-5">
		<div class="inline-block bg-yellow-300 px-3 py-1 text-black">
			<h3 class="font-display text-xl font-black tracking-wide uppercase">
				{title}
			</h3>
		</div>
	</div>
</a>
